html,
body,
* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  position: relative;
}

a {
  transition: opacity .2s linear;
}

a:hover {
  opacity: .8;
}

.btn {
  padding: 16px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: 'Yeseva One', serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .6px;
  border-radius: 6px;
  background-color: #ff7200;
}

.delimetr {
  width: 100%;
  height: 50px;
  background-image: url('../images/patterns/line.png');
  background-size: auto 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
}

.pattern {
  position: absolute;
  top: -40px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1000;
  width: 100%;
  height: calc(100% + 40px);
  background-image: url('../images/patterns/pattern.png');
  background-size: 500px auto;
  background-repeat: repeat-y;
  opacity: .15;
}

@media (max-width: 768px) {
  .pattern {
    background-size: 200px auto;
  }
}

nav.nav {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  nav.nav {
    justify-content: center;
  }

  nav.nav div {
    display: none;
  }
}

.nav__title {
  font-family: 'Yeseva One', serif;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  text-transform: uppercase;
}

a.nav__link {
  margin-left: 12px;
  color: #000000;
  font-family: 'Yeseva One', serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid;
  border-width: 2px;
}

.preview {
  position: relative;
  padding: 12px 20px;
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/preview.jpg');
  background-size: cover;
}

@media (max-width: 768px) {
  .preview {
    display: none;
  }
}

.preview__title {
  margin-bottom: 12px;
  padding: 12px 14px;
  font-family: 'Yeseva One', serif;
  color: #000000;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
}

.preview__content {
  z-index: 2;
}

.preview__content .btn {
  margin: 0 auto;
  display: table;
}

section.section {
  padding: 40px;
  display: flex;
}

@media (max-width: 768px) {
  section.section {
    padding: 0;
    flex-direction: column;
  }

  section.section .btn {
    margin-bottom: 10px;
  }

  .section__img, .section__info {
    flex: 1 1 100%;
  }
}

.section__img {
  padding: 20px;
  flex: 1 1 40%;
}

.section__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.section__info {
  padding: 20px;
  flex: 1 1 60%;
}

.section__title {
  margin-bottom: 12px;
  display: block;
  font-family: 'Yeseva One', serif;
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  text-transform: uppercase;
}

.section__text {
  margin-bottom: 12px;
  display: block;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.section__link {
  margin-bottom: 12px;
  display: block;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.section__link b {
  width: 100px;
  display: inline-block;
  font-family: 'Yeseva One', serif;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section.menu {
  padding: 0 22% 100px 22%;
}

@media (max-width: 768px) {
  section.menu {
    padding: 0 5% 50px 5%;
  }
}

.menu-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Yeseva One', serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
}

section.menu-special {
  padding: 0 12% 100px 12%;
}

@media (max-width: 768px) {
  section.menu-special {
    padding: 0 5% 50px 5%;
  }
}

.menu-special__grid {
  display: flex;
  flex-wrap: wrap;
}

.menu-special__category {
  width: 100%;
  margin: 14px 0;
  font-family: 'Yeseva One', serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Card Component */

.menu-card {
  overflow: hidden;
  margin: 12px;
  padding: 12px;
  width: calc(33% - 36px);
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {
  .menu-card {
    margin: 12px 0;
    width: 100%;
  }
}

.menu-card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.menu-card__body {
  display: flex;
  flex-direction: column;
}

.menu-card__title {
  margin-top: 12px;
  margin-bottom: 6px;
  font-family: 'Yeseva One', serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.25;
}

.menu-card__description {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 1.25;
}

.menu-card__weight, .menu-card__cost {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.25;
}

/* Card Component */

/* Table Component */

table.menu {
  margin: 0 -10px 20px -10px;
  width: 100%;
}

table.menu tr {
  transition: background-color .2s linear;
}

table.menu tr:hover {
  background-color: rgba(0, 0, 0, .05);
}

@media (max-width: 768px) {
  table.menu tr:hover {
    background-color: inherit;
  }
}

table.menu th {
  padding: 14px 10px;
  height: 28px;
  font-family: 'Yeseva One', serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  table.menu th {
    font-size: 12px;
  }
}

table.menu th:not(:last-child) {
  text-align: left;
}

table.menu th:last-child {
  text-align: right;
}

table.menu td:first-child  {
  font-weight: 600;
  white-space: nowrap;
}

table.menu td:last-child  {
  text-align: right;
  font-weight: 600;
  white-space: nowrap;
}

table.menu td {
  padding: 14px 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.25;
}

@media (max-width: 768px) {
  table.menu td {
    font-size: 16px;
  }
}

.menu__category {
  font-family: 'Yeseva One', serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left !important;
}

.menu__description {
  margin-top: 6px;
  display: block;
  font-size: 14px;
}

@media (max-width: 768px) {
  .menu__description {
    font-size: 13px;
  }
}

/* Table Component */