{% load static %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content="Ресторан Гурман — отличное место для проведения свадебного торжества. Элегантный интерьер в светлых тонах отлично гармонирует со свадебным оформлением, блюда от шеф-повара точно придутся по вкусу вам и вашим гостям, а приветливый персонал создает теплую и уютную атмосферу." />

<title>"Гурман" - ресторан восточной кухни в Тюмени</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Yeseva+One&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />