{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="" />
  <meta name="keywords"
    content="гурман, ресторан, восточная кухня, турецкая кухня, европейская кухня, банкет, свадьба, юбилей" />
  <meta name="author" content="v.a.zagoruyko@yandex.ru" />

  <title>"Гурман" - ресторан восточной кухни в Тюмени</title>

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;500;800&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <section class="section menu">
    <h2>{{ specimen.title }}</h2>
    <div class="food-card__container">
    {% for i in menu %}
      {% if i.kind %}
        {% ifchanged i.kind %}
          <h2>{{ i.kind }}</h2>
        {% endifchanged %}
      {% endif %}
        <div class="food-card">
          <img src="{{ i.image.url }}" />
          <div class="food-card__body">
            <h6>{{ i.title }}</h6>
            {% if i.description %}
              <p>{{ i.description }}</p>
            {% endif %}
            <span>{% if i.weight %}Вес: {{ i.weight }} грамм{% endif %}</span>
            <span class="food-card__cost">{% if i.cost %}{{ i.cost }} ₽{% endif %}</span>
          </div>
        </div>
    {% endfor %}
    </div>
    <a href="{% url 'index' %}" class="btn menu__btn">На главную</a>
  </section>

</body>

</html>
