{% load static %}

<!DOCTYPE html>
<html>

<head>
  {% include 'block/head.html' %}
</head>

<body>

  <nav class="nav">
    <a class="nav__title" href="{% url 'index' %}">Ресторан<br/>"Гурман"</a>
    <div>
      <a class="nav__link" href="#takeaway">Еда на вынос</a>
      <a class="nav__link" href="#menu">Меню</a>
      <a class="nav__link" href="#contacts">Контакты</a>
    </div>
  </nav>

  <div class="preview">
    <div class="overlay"></div>
    <div class="preview__content">
        <h1 class="preview__title">Ресторан "Гурман"</h1>
        <a href="{% url 'tour' %}" class="btn">Панорама зала</a>
    </div>
  </div>

  <section id="takeaway" class="section">
    <div class="section__img">
      <img src="{% static 'images/card-1.jpg' %}" alt="Зал ресторана Гурман">
    </div>
    <div class="section__info">
      <span class="section__title">Шашлык и шаурма на вынос</span>
      <p class="section__text">Наш ресторан предлагает вам самый вкусный шашлык в городе Тюмень. Ароматный шашлык прямо с мангала. Готовим только из свежего мяса.</p>
      <a href="{% url 'menu' code='takeaway' %}" class="btn">Еда на вынос</a>
    </div>
  </section>

  <div class="delimetr"></div>
  <section id="menu" class="section">
    <div class="section__img">
      <img src="{% static 'images/card-2.jpg' %}" alt="Зал ресторана Гурман">
    </div>
    <div class="section__info">
      <span class="section__title">Банкетное меню</span>
      <p class="section__text">Помещение ресторана отличается вместительной площадью, высокими потолками и большими панорамными окнами. Лаконичное и безмятежное убранство формирует тёплую, гостеприимную обстановку, замечательно подходящую для отдыха, неспешного общения и приятного времяпровождения в компании близких и друзей.</p>
      <a href="{% url 'menu' code='celebration' %}" class="btn">Банкетное меню</a>
    </div>
  </section>

  <div class="delimetr"></div>
  <section id="menu" class="section">
    <div class="section__img">
      <img src="{% static 'images/card-3.jpg' %}" alt="Зал ресторана Гурман">
    </div>
    <div class="section__info">
      <span class="section__title">Меню ресторана</span>
      <p class="section__text">Попадая в стены ресторана Гурман, вновь вспоминаешь эти прекрасные традиции и понимаешь, что нет ничего лучше классики! Дизайн интерьера выполнен в элегантной манере, но с яркими и современными решениями в виде бесподобных кованых диванов.</p>
      <a href="{% url 'menu' code='general' %}" class="btn">Меню ресторана</a>
      <a href="{% url 'menu_special' code='caucasian' %}" class="btn">Кавказская кухня</a>
    </div>
  </section>

  <div class="delimetr"></div>
  <section id="contacts" class="section">
    <div class="section__img">
      <script
        type="text/javascript"
        charset="utf-8"
        async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3837c9fbf8dc43bfd3735dca284c9546fc5bd60de4083a7ed5d093112dc774f3&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"
      ></script>
    </div>
    <div class="section__info">
      <span class="section__title">Контакты</span>
      <a class="section__link "href="https://yandex.ru/maps/-/CCQ~A6SLhA">
        <b>Адрес:</b> ул. Линейная 66
      </a>
      <a class="section__link "href="tel:+79044992299">
        <b>Телефон:</b> +7 (9044) 99-22-99
      </a>
      <a class="section__link "href="tel:+73452217585">
        <b>Телефон:</b> +7 (3452) 217-585
      </a>
      <a class="section__link "href="tel:+73452218115">
        <b>Телефон:</b> +7 (3452) 218-115
      </a>
      <a class="section__link "href="https://web.whatsapp.com/send?phone=79044992299">
        <b>WhatsApp:</b> +7 (9044) 99-22-99
      </a>
      <a class="section__link "href="viber://chat?number=79044992299">
        <b>Viber:</b> +7 (9044) 99-22-99
      </a>
      <a class="section__link "href="https://www.instagram.com/restoran.gurman/">
        <b>Instagram:</b> @restoran.gurman
      </a>
    </div>
  </section>

</body>

</html>