{% load static %}

<!DOCTYPE html>
<html>

<head>
  {% include 'block/head.html' %}
</head>

<body>
  <div class="pattern"></div>
  <section class="menu">
    <h1 class="menu-title">{{ title }}</h1>

    <table class="menu">
      <thead>
        <tr>
          <th>Вес</th>
          <th>Наименование</th>
          <th>Цена</th>
        </tr>
      </thead>
      <tbody>
        {% for dish in menu %}

          {% if dish.category %}
            {% ifchanged dish.category %}
              <tr>
                <td class="menu__category" colspan="3">{{ dish.category }}</td>
              </tr>
            {% endifchanged %}
          {% endif %}

          <tr>
            <td>{% if dish.weight %}{{ dish.weight }}{% endif %}</td>

            <td>
              {{ dish.title }}
              {% if dish.description %}<span class="menu__description">{{ dish.description }}</span>{% endif %}
            </td>

            <td>{% if dish.cost %}{{ dish.cost }} ₽{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="{% url 'index' %}" class="btn menu__btn">На главную</a>
  </section>

</body>

</html>
