{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="" />
  <meta name="keywords"
    content="гурман, ресторан, восточная кухня, турецкая кухня, европейская кухня, банкет, свадьба, юбилей" />
  <meta name="author" content="v.a.zagoruyko@yandex.ru" />

  <title>"Гурман" - ресторан восточной кухни в Тюмени</title>

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;500;800&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <section class="section menu">
    <h2>{{ specimen.title }}</h2>
    <table class="menu__table">
      <thead>
        <tr>
          <th>Вес</th>
          <th></th>
          <th>Цена</th>
        </tr>
      </thead>
      <tbody>
        {% for i in menu %}
          {% ifchanged i.kind %}
            <tr>
              <td colspan="3"><h6>{{ i.kind }}</h6></td>
            </tr>
          {% endifchanged %}
          <tr>
            <td>{{ i.weight }}</td>
            <td>
              {{ i.title }}
              {% if i.description %}
                <span>{{ i.description }}</span>
              {% endif %}
            </td>
            <td>{{ i.cost }} ₽</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'index' %}" class="btn menu__btn">На главную</a>
  </section>

</body>

</html>